PORT=4000
MONGO_URI=your_mongodb_connection
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_token

EMAIL_USER=your_email
EMAIL_PASS=your_password
EMAIL_FROM=your_email_name

CLOUDINARY_CLOUD_NAME=your_cloud
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret 